<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  radiology-report-container">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  radiology-report-actions">
    <a class="btn btn-toolbar">Close</a>
    <a class="btn btn-toolbar" (click)="downloadReport(reportElement)">Download</a>
    <a class="btn btn-toolbar">Upload to Orthanc</a>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  radiology-report" #reportElement>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  radiology-report-header">
      <h1>LibreHealth
        <small>RADIOLOGY</small>
      </h1>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 meta-data">
      <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Report Details</h2>
      <table class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <tr>
          <th>Title</th>
          <td>{{report?.display}}</td>
        </tr>
        <tr>
          <th>Report Ref</th>
          <td>{{report?.uuid}}</td>
        </tr>
        <tr>
          <th>Date</th>
          <td>{{report?.date}}</td>
        </tr>
        <tr>
          <th>Results Interpreter</th>
          <td>{{report?.principalResultsInterpreter?.display}}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{report?.status}}</td>
        </tr>
      </table>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 meta-data">
      <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">Order Details</h2>
      <table class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <tr>
          <th>Title</th>
          <td>{{report?.radiologyOrder?.display}}</td>
        </tr>
        <tr>
          <th>Order Ref</th>
          <td>{{report?.radiologyOrder?.uuid}}</td>
        </tr>
        <tr>
          <th>Patient</th>
          <td>{{report?.radiologyOrder?.patient?.display}}</td>
        </tr>
        <tr>
          <th>Accession Number</th>
          <td>{{report?.radiologyOrder?.accessionNumber}}</td>
        </tr>
        <tr>
          <th>Date Activated</th>
          <td>{{report?.radiologyOrder?.dateActivated}}</td>
        </tr>
        <tr>
          <th>Urgency</th>
          <td>{{report?.radiologyOrder?.urgency}}</td>
        </tr>
        <tr>
          <th>Scheduled Date</th>
          <td>{{report?.radiologyOrder?.scheduledDate}}</td>
        </tr>
        <tr>
          <th>Concept</th>
          <td>{{report?.radiologyOrder?.concept?.display}}</td>
        </tr>
        <tr>
          <th>Date Stopped</th>
          <td>{{report?.radiologyOrder?.dateStopped}}</td>
        </tr>
        <tr>
          <th>Instructions</th>
          <td>{{report?.radiologyOrder?.instructions}}</td>
        </tr>
      </table>
    </div>

    <hr/>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 report-body" [innerHTML]="report?.body">
    </div>

  </div>
</div>
