.radiology-report {
  padding: 0px;
  padding-bottom: 100px;
  background-color: white;
}

.radiology-report .radiology-report-header {
  background-color: #FFC107;
  padding: 10px;
  border-bottom: 2px solid #9E9E9E;
}

.radiology-report-header {
  background-color: #FFC107;
  padding: 10px;
  border-bottom: 2px solid #9E9E9E;
}

.meta-data h2 {
  font-size: 19px;
  text-align: left;
  padding: 0px;
}

.meta-data table th {
  font-size: 10px;
  padding: 2px 10px;
}

.meta-data table td {
  font-size: 10px;
}

.report-body {
  background-color: black;
  padding: 10px;
  border: 2px dashed white;
  color: white;
}
