<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 radiology-reports">
  <ul class="col-lg-4 col-md-4 col-sm-4 col-xs-4 radiology-reports-list">
    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 radiology-report-list-item" *ngFor="let report of reports"
        ngClass="{{selectedReport === report ? 'selected' : ''}}">
      <a class="btn btn-toolbar" (click)="setSelectReport(report)">
        {{report?.display}}
      </a>
    </li>
  </ul>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 radiology-report-list-item-content">
    <app-report
      [uuid]="selectedReport.uuid" *ngIf="selectedReport"
      class="col-lg-12 col-md-12 col-sm-12 col-xs-12 radiology-report-container"
    >
    </app-report>
  </div>
</div>
