.radiology-report {
  padding: 0px;
  -webkit-animation: 1s SlideDown;
  animation: 1s SlideDown;
  overflow: hidden;
}

.radiology-report .radiology-report-header {
  padding: 10px;
  background-color: #FF9800;
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
}
/*
.radiology-report-container {
  position: fixed;
  z-index: 1069;
  overflow: auto;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 30px;
  background: #ececec;
}*/

.radiology-report-actions {
  background: black;
}

.radiology-report {
  background-color: white;
  box-shadow: 0px 0px 4px 4px #00000014;
}

@keyframes SlideDown {
  0% {
    max-height: 0;
    opacity: 0;
  }

  100% {
    max-height: 1000px;
    opacity: 1;
  }
}

.radiology-reports {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 800px;
}

.radiology-reports-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 300px;
}

.radiology-reports-list .radiology-report-list-item.selected {
  background-color: #2196f34a;
  border-left: 4px solid #9E9E9E;
}

.radiology-reports-list .radiology-report-list-item {
  padding: 0px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #dbdbdb;
}

.radiology-reports-list .radiology-report-list-item a {
  color: #827676;
  width: 100%;
  text-align: left;
}

.radiology-report-list-item-content {
  flex: 1;
}

.radiology-report-container {
  background-color: #e0e0e0;
}

