<div>
  <h1>List of Orders</h1>
  <ul>
    <li *ngFor="let order of orders">
      [{{order?.urgency}}] <h2>{{order?.display}}
        <small>due to {{order?.orderReason?.display}}</small>
      </h2>
      <p>{{order?.instructions}}</p>
      <div>Scheduled to {{order?.scheduledDate}}</div>
      <div>
        Ordered by <a href="#">{{order?.orderer?.display}}</a> on {{order?.dateActivated}}
      </div>
    </li>
  </ul>
</div>
